version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: wellwork
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports: ["5432:5432"]
  rabbit:
    image: rabbitmq:3-management
    ports: ["5672:5672","15672:15672"]
